<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>BetCracker 0.1a</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='{{path_for('main')}}css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='{{path_for('main')}}css/style.css' rel='stylesheet' type='text/css'>
{#        <link href='{{path_for('main')}}css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>#}
        <link href='{{path_for('main')}}css/bootstrap-night.min.css' rel='stylesheet' type='text/css'>
        <link href='{{path_for('main')}}css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>
        <script src="{{path_for('main')}}js/jquery_1.11.3.js"></script>
        <script src="{{path_for('main')}}js/bootstrap.js"></script>
        <script src="{{path_for('main')}}js/bootstrap-datepicker.min.js"></script>
        <script src="{{path_for('main')}}locales/bootstrap-datepicker.pl.min.js" charset="UTF-8"></script>
    </head>
    <body>
        <div class="container" style="padding-top:60px">
            {% block menu %}
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <a class="navbar-brand" href="{{path_for('main')}}">
                                <img src="{{path_for('main')}}images/dice.png" style="height:40px;float:left;display:block;margin-right: 15px;margin-top:-10px">
                                BetCracker
                            </a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form action="" method="post">
                                    <input type="text" class="form-control datepicker text-center" style="margin-top:10px">
                                </form>
                            </li>
                            <li><a href="#">Kupony</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sezon: 2015/2016 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Polska</a></li>
                                    <li><a href="#">Anglia</a></li>
                                    <li><a href="#">Niemcy</a></li>
                                    <li><a href="#">Norwegia</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Wszystkie</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liga: Ekstraklasa <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Polska</a></li>
                                    <li><a href="#">Anglia</a></li>
                                    <li><a href="#">Niemcy</a></li>
                                    <li><a href="#">Norwegia</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Wszystkie</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kraj: Polska <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Polska</a></li>
                                    <li><a href="#">Anglia</a></li>
                                    <li><a href="#">Niemcy</a></li>
                                    <li><a href="#">Norwegia</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{path_for('main')}}kraje">Wszystkie</a></li>
                                </ul>
                            </li>
                            <li><a href="#" style="border-left:2px solid #888;font-size:16pt" title="Wyloguj"><span class="glyphicon glyphicon-off"></span></a></li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        {% block body %}{% endblock %}
    </div>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                language: 'pl'
            });
            $('.datepicker').on("changeDate", function() {
                console.log("asdf")
                
                
            })
        })
    </script>
</body>
</html>