{% extends "layout.twig" %}

{% block menu %}{% endblock %}
{% block body %}

	<div class="row" style="margin-top:100px">
		<div class="col-xs-offset-3 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src="{{path_for('main')}}images/dice.png" style="float:left;display:block;margin-right: 15px;margin-top:-60px">
					<b>BetCracker</b>
				</div>
				<br>
				<br>
				<form class="form-horizontal" action="" method="post">
					<div class="panel-body"><div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Login</label>
									<div class="col-sm-10">
										<input type="text" name="login" class="form-control" id="inputEmail3" placeholder="Login">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">Hasło</label>
									<div class="col-sm-10">
										<input type="text" name="haslo" class="form-control" id="inputEmail3" placeholder="Hasło">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer text-right">
						<button type="submit" class="btn btn-primary">Zaloguj</button>

					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
