{% extends "layout.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>{{ kraj.nazwa }} - ligi</h3>
				
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:50px">LP</th>
							<th>Nazwa</th>
							<th style="width:100px">Akacja</th>
						</tr>	
					</thead>
					<tbody>
						{% for liga in ligi %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ liga.nazwa }}</td>
								<td>
									<a href="{{path_for('main',{'controller' : 'ligi','action':'sezony','id': liga.id})}}" class="btn btn-default btn-sm">Sezon</a>
								</td>
							</tr>	
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" action="" method="post">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Nazwa</label>
						<div class="col-sm-6">
							<input type="text" name="liga" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
						<div class="col-sm-4">
							<button type="submit" class="btn btn-default">Dodaj</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}