{% extends "layout.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>{{ kraj.nazwa }} - {{ liga.nazwa }} - {{ sezon.ostatni_rok-1 }}/{{ sezon.ostatni_rok }}</h3>
				{% if mecze %}
				<table class="table table-hover table-mecze">
					<thead>
						<tr>
							<th style="width:50px;vertical-align: middle" rowspan="2">LP</th>
							<th rowspan="2" style="vertical-align: middle">Gospodarze</th>
							<th rowspan="2" style="vertical-align: middle">Goscie</th>
							<th rowspan="2" style="vertical-align: middle">Data</th>
							<th rowspan="2" style="vertical-align: middle">Wynik</th>
							<th style="width:200px" colspan="3">1x2</th>
							<th style="width:200px" colspan="3">Dc</th>
							<th style="width:200px" colspan="3">Ha</th>
							<th style="width:200px" colspan="5">Ou</th>
						</tr>	
						<tr>	
							<th>1</th>
							<th>x</th>
							<th>2</th>
							<th>1x</th>
							<th>12</th>
							<th>x2</th>
							<th>1</th>
							<th>2</th>
							<th>0.5</th>
							<th>1.5</th>
							<th>2.5</th>
							<th>3.5</th>
							<th>4.5</th>
						</tr>	
					</thead>
					<tbody>
						{% for mecz in mecze %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ mecz.gospodarze }}</td>
								<td>{{ mecz.goscie }}</td>
								<td>{{ mecz.data }}</td>
								<td>{{ mecz.wynik }}</td>
								<td{% if mecz.kursy1x2.wygrana=='gospodarze'%} class="win"{% endif %}>{{ mecz.kursy1x2.gospodarze }}</td>
								<td{% if mecz.kursy1x2.wygrana=='remis'%} class="win"{% endif %}>{{ mecz.kursy1x2.remis }}</td>
								<td{% if mecz.kursy1x2.wygrana=='goscie'%} class="win"{% endif %}>{{ mecz.kursy1x2.goscie }}</td>
								<td{% if mecz.kursyDc.wygrana1=='1x' or mecz.kursyDc.wygrana2 == '1x'%} class="win"{% endif %}>{{ mecz.kursyDc['1x'] }}</td>
								<td{% if mecz.kursyDc.wygrana1=='12' or mecz.kursyDc.wygrana2 == '12'%} class="win"{% endif %}>{{ mecz.kursyDc['12'] }}</td>
								<td{% if mecz.kursyDc.wygrana1=='x2' or mecz.kursyDc.wygrana2 == 'x2'%} class="win"{% endif %}>{{ mecz.kursyDc['x2'] }}</td>
								<td{% if mecz.kursy1x2.wygrana=='gospodarze'%} class="win"{% endif %}>{{ mecz.kursyHa.gospodarze }}</td>
								<td{% if mecz.kursy1x2.wygrana=='gospodarze'%} class="win"{% endif %}>{{ mecz.kursyHa.goscie }}</td>

								<td><div{% if mecz.kursyOu['0.5'].wygrana=='over'%} class="win"{% endif %}>{{ mecz.kursyOu['0.5']['over'] }}</div> <div{% if mecz.kursyOu['0.5'].wygrana=='under'%} class="win"{% endif %}>{{ mecz.kursyOu['0.5']['under'] }}</div></td>
								<td><div{% if mecz.kursyOu['1.5'].wygrana=='over'%} class="win"{% endif %}>{{ mecz.kursyOu['1.5']['over'] }}</div> <div{% if mecz.kursyOu['1.5'].wygrana=='under'%} class="win"{% endif %}>{{ mecz.kursyOu['1.5']['under'] }}</div></td>
								<td><div{% if mecz.kursyOu['2.5'].wygrana=='over'%} class="win"{% endif %}>{{ mecz.kursyOu['2.5']['over'] }}</div> <div{% if mecz.kursyOu['2.5'].wygrana=='under'%} class="win"{% endif %}>{{ mecz.kursyOu['2.5']['under'] }}</div></td>
								<td><div{% if mecz.kursyOu['3.5'].wygrana=='over'%} class="win"{% endif %}>{{ mecz.kursyOu['3.5']['over'] }}</div> <div{% if mecz.kursyOu['3.5'].wygrana=='under'%} class="win"{% endif %}>{{ mecz.kursyOu['3.5']['under'] }}</div></td>
								<td><div{% if mecz.kursyOu['4.5'].wygrana=='over'%} class="win"{% endif %}>{{ mecz.kursyOu['4.5']['over'] }}</div> <div{% if mecz.kursyOu['4.5'].wygrana=='under'%} class="win"{% endif %}>{{ mecz.kursyOu['4.5']['under'] }}</div></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" action="" method="post">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Link do statystyk</label>
						<div class="col-sm-6">
							<input type="text" name="url" value="http://www.betexplorer.com" class="form-control" id="inputEmail3" placeholder="Url">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Okres trwania</label>
						<div class="col-sm-3">
							<input type="text" name="data_od" class="form-control" id="inputEmail3" placeholder="Od">
						</div>
						<div class="col-sm-3">
							<input type="text" name="data_do" class="form-control" id="inputEmail3" placeholder="do">
						</div>
						<div class="col-sm-4">
							<button type="submit" class="btn btn-default">Dodaj</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}