{% extends "layout.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>{{ kraj.nazwa }} - {{ liga.nazwa }} - sezony</h3>
				{% if sezony %}
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:50px">LP</th>
							<th>Data od</th>
							<th>Data do</th>
							<th>Ostatni rok</th>
							<th style="width:200px">Akacja</th>
						</tr>	
					</thead>
					<tbody>
						{% for sezon in sezony %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ sezon.data_od }}</td>
								<td>{{ sezon.data_do }}</td>
								<td>{{ sezon.ostatni_rok }}</td>
								<td>
									<a href="{{path_for('main',{'controller' : 'sezony','action':'mecze','id': sezon.id})}}" class="btn btn-default btn-sm">Mecze</a>
									<a href="{{ sezon.url_stats }}" class="btn btn-default btn-sm" target="_blank">betexplorer.com</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" action="" method="post">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Link do statystyk</label>
						<div class="col-sm-6">
							<input type="text" name="url" value="http://www.betexplorer.com" class="form-control" id="inputEmail3" placeholder="Url">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Okres trwania</label>
						<div class="col-sm-3">
							<input type="text" name="data_od" class="form-control" id="inputEmail3" placeholder="Od">
						</div>
						<div class="col-sm-3">
							<input type="text" name="data_do" class="form-control" id="inputEmail3" placeholder="do">
						</div>
						<div class="col-sm-4">
							<button type="submit" class="btn btn-default">Dodaj</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}